body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.country {
    fill: #F2F2F2;
}

.country:hover {
    fill: #607D8B;
    cursor: crosshair;
}




/* Create Vertex */

.vertexForm {
    position: absolute;
    background-color: #26A69A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 50%;
}

.vertexForm:hover {
    background-color: #00695C;
    cursor: pointer;
}

.vertexForm::selection {
    background-color: transparent;
}

.edge {
    stroke: #171820;
    stroke-width: 3;
}

.bidirectional {
    stroke: red;
}

/* Edge Form */
#edgeForm {
    position: absolute;
    display: none;
    background-color: #34353d;
    padding: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

#edgeForm input {
    padding: 10px;
    outline: 0;
    font-size: 20px;
    border-radius: 4px;
    border: 0;
}

.lbl {
    font-size: 18px;
    color: #FFF;
    position: absolute;
    top: 10px;
}

#divDirection {
    text-align: center;
    margin: 20px 10px 0px 10px;
}

.direction {
    width: 40%;
    display: inline-block;
    text-align: center;
}

.directionSelected {
    background-color: teal !important;
}

.fas {
    font-size: 20px;
    padding: 15px;
    border-radius: 50%;
    background-color: #FFF;
    transition: ease .3s;
    cursor: pointer;
}

.fas:hover {
    background-color: #BEBEBE;
}

.fa-arrows-alt-h {
    color: red;
}

#btnCreateEdge {
    outline: 0;
    border: 0;
    background-color: transparent;
    border: 2px solid #26A69A;
    color: #26A69A;
    padding: 10px 30px;
    border-radius: 30px;
    transition: ease .3s;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#btnCreateEdge:hover {
    background-color: #26A69A;
    color: #FFF;
}

#divBtnCreateEdge {
    text-align: center;
    margin-top: 50px;
}

/* Adjacency Form */
#adjacencyForm {
    position: absolute;
    display: none;
    background-color: #34353d;
    padding: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

#adjacencyForm input {
    padding: 10px;
    outline: 0;
    font-size: 20px;
    border-radius: 4px;
    border: 0;
}

#countryAdjacency {
    position: absolute;
    left: 0;
}

#countryAdjacency button {
    outline: 0;
    border: 0;
    background-color: transparent;
    border: 2px solid #26A69A;
    color: #26A69A;
    padding: 10px 30px;
    transition: ease .3s;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.disable {
    color: #E53935 !important;
    border: 2px solid #E53935 !important;
}

.disable:hover {
    background-color: #E53935 !important;
    color: #FFF !important;
}

#countryAdjacency button:hover {
    background-color: #26A69A;
    color: #FFF;
}

#btnShowAdjacencies {
    outline: 0;
    border: 0;
    background-color: transparent;
    border: 2px solid #26A69A;
    color: #26A69A;
    padding: 10px 30px;
    border-radius: 30px;
    transition: ease .3s;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#btnShowAdjacencies:hover {
    background-color: #26A69A;
    color: #FFF;
}

#divBtnShowAdjacencies {
    text-align: center;
    margin-top: 50px;
}

/* Shortest Path */
#countryShortestPath {
    position: absolute;
    right: 0
}

#countryShortestPath button {
    outline: 0;
    border: 0;
    background-color: transparent;
    border: 2px solid #26A69A;
    color: #26A69A;
    padding: 10px 30px;
    transition: ease .3s;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

#countryShortestPath button:hover {
    background-color: #26A69A;
    color: #FFF;
}

/* Shortest Path Form */
#shortestPathForm {
    position: absolute;
    display: none;
    background-color: #34353d;
    padding: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

#shortestPathForm label {
    position: absolute;
    top: -2.5px;
    left: 20px;
}

#shortestPathForm input {
    padding: 10px;
    margin: 20px;
    outline: 0;
    font-size: 20px;
    border-radius: 4px;
    border: 0;
}

#divBtnShowShortestPath {
    text-align: center;
    margin-top: 20px;
}

#btnShowShortestPath {
    outline: 0;
    border: 0;
    background-color: transparent;
    border: 2px solid #26A69A;
    color: #26A69A;
    padding: 10px 30px;
    border-radius: 30px;
    transition: ease .3s;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#divBtnShowShortestPath button:hover {
    background-color: #26A69A;
    color: #FFF;
}